
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#ReferenceGroupLinkAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("referenceGroupLinkId");
		
		$( "#multiSelectForReferrerGroup" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("ReferrerGroupInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the ReferrerGroup
				var parentId = document.getElementById( 'referenceGroupLinkId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/ReferenceGroupLink/saveReferrerGroup?referenceGroupLinkId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingReferenceGroupLink();
				});
			}
			// hide the select
			$("#multiSelectForReferrerGroupDivId").hide();
		});
	
	 	$( document ).on('refreshReferrerGroupForReferenceGroupLink', function() 
	 	{			
	 		// reload ReferenceGroupLink and apply the ReferrerGroup
	 		var url 	= '/ReferenceGroupLink/load?referenceGroupLinkId=' + id;
	 		var element = document.getElementById( 'ReferrerGroupInputId' );
	 		var field 	= 'referrerGroup.name';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });
		
		$( "#multiSelectForLinkProvider" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("LinkProviderInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the LinkProvider
				var parentId = document.getElementById( 'referenceGroupLinkId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/ReferenceGroupLink/saveLinkProvider?referenceGroupLinkId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingReferenceGroupLink();
				});
			}
			// hide the select
			$("#multiSelectForLinkProviderDivId").hide();
		});
	
	 	$( document ).on('refreshLinkProviderForReferenceGroupLink', function() 
	 	{			
	 		// reload ReferenceGroupLink and apply the LinkProvider
	 		var url 	= '/ReferenceGroupLink/load?referenceGroupLinkId=' + id;
	 		var element = document.getElementById( 'LinkProviderInputId' );
	 		var field 	= 'linkProvider.firstName';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("referenceGroupLinkId");
			
			jQuery.ajax(
			{
		  		url: '/ReferenceGroupLink/load?referenceGroupLinkId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingReferenceGroupLink()
	{
		document.getElementById("ReferenceGroupLinkFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetReferenceGroupLink()
	{
		document.getElementById("ReferenceGroupLinkProfileFormId").reset();
	}
	
	function saveReferenceGroupLink()
	{
		$('#ReferenceGroupLinkFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#ReferenceGroupLinkProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/ReferenceGroupLink/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#ReferenceGroupLinkProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' && parentUrl != '${parentUrl}' )
			{
				parentUrl = parentUrl + '&childId=' + data['referenceGroupLinkId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created ReferenceGroupLink
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('referenceGroupLinkId').value = data['referenceGroupLinkId'];

			if ( action == 'create' )
				$( '#ReferenceGroupLinkAssociationDivId' ).show();
*/				
			doneSavingReferenceGroupLink();
		});
		
		$('#ReferenceGroupLinkFormLoadingDivId').hide();			
	
	}
		function addReferrerGroup()
	{
		addHelperForReferenceGroupLink( 'ReferrerGroup', 'ReferrerGroup' );
	}
	
	function deleteReferrerGroup()
	{ 
		deleteHelperForReferenceGroupLink( 'ReferrerGroup', 'name' );
	}

	function addReferrerGroupFromList()
	{
		// display the multi-select (viewAll and ReferrerGroup lists)
		$("#multiSelectForReferrerGroupDivId").show();

		jQuery.ajax(
		{
		    url: "/ReferrerGroup/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForReferrerGroup").empty();
			
			var selectId	= "multiSelectForReferrerGroup";
			var text 		= 'name';
			var value 		= 'referrerGroupId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
    		function addLinkProvider()
	{
		addHelperForReferenceGroupLink( 'User', 'LinkProvider' );
	}
	
	function deleteLinkProvider()
	{ 
		deleteHelperForReferenceGroupLink( 'LinkProvider', 'firstName' );
	}

	function addLinkProviderFromList()
	{
		// display the multi-select (viewAll and LinkProvider lists)
		$("#multiSelectForLinkProviderDivId").show();

		jQuery.ajax(
		{
		    url: "/User/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForLinkProvider").empty();
			
			var selectId	= "multiSelectForLinkProvider";
			var text 		= 'firstName';
			var value 		= 'referrerId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
        function addHelperForReferenceGroupLink( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for ReferenceGroupLink " + roleName;
		var parentId = document.getElementById("referenceGroupLinkId").value;
		parentUrl = '/ReferenceGroupLink/save' + roleName + '?referenceGroupLinkId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=referenceGroupLink&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForReferenceGroupLink';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForReferenceGroupLink( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/ReferenceGroupLink/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#ReferenceGroupLinkProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("ReferenceGroupLinkFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="ReferenceGroupLinkProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="ReferenceGroupLinkProfileFormId" class="formTableClass">
    <input type=hidden id="referenceGroupLinkId" name="referenceGroupLinkId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">dateLinkCreated</td>
	  <td class="formTDClass">	<input size="16" type="text" id="dateLinkCreated" name="dateLinkCreated" readonly class="form_datetime form-control">
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save ReferenceGroupLink" onclick="saveReferenceGroupLink()">
		    <button type="button" class="btn btn-outline-primary">
		      	Save
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetReferenceGroupLink()">
			<button type="button" class="btn btn-outline-primary">	
		      	Reset
			</button>
		</a>
	</div>
	 <div id="ReferenceGroupLinkFormLoadingDivId" style="display:none">
  		saving ReferenceGroupLink...<image src="../img/load_new.gif" width=48 height=48/>
	</div>				  				  
	<div id="ReferenceGroupLinkFormStatusDivId">
	</div>				  				  
	 
  </form>
</div>

<div id="ReferenceGroupLinkAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        ReferrerGroup
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="ReferrerGroupInputId" name="referrerGroup.name" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForReferrerGroupDivId" style="display:none">
	                  <select id="multiSelectForReferrerGroup" />
	                  <a href="#" onclick="$('#multiSelectForReferrerGroupDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create ReferrerGroup" onclick="addReferrerGroup()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add ReferrerGroup from list" onclick="addReferrerGroupFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete ReferrerGroup" onclick="deleteReferrerGroup()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
			  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        LinkProvider
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="LinkProviderInputId" name="linkProvider.firstName" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForLinkProviderDivId" style="display:none">
	                  <select id="multiSelectForLinkProvider" />
	                  <a href="#" onclick="$('#multiSelectForLinkProviderDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create User" onclick="addLinkProvider()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add User from list" onclick="addLinkProviderFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete User" onclick="deleteLinkProvider()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>


