
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#ReferrerAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
			parentId	= "referrerId=" + getParam("referrerId");
  		parentUrl	= "/Referrer/saveComments?" + parentId;
  		addUrl 		= "/html/CommentProfileForm.html?action=create";
  		deleteUrl 	= "/Referrer/deleteComments?" + parentId;
  		modelUrl 	= "/Referrer/loadComments?" + parentId;

		args = 'roleName=Comments&addUrl=' + addUrl + '&deleteUrl=' + deleteUrl + '&modelUrl=' + modelUrl + '&parentUrl=' + parentUrl;
		
		url = '/html/CommentViewAllList.html?' + args;
		
		jQuery.get( url, function( data ) 
		{
		    $('#' + 'Referrer_CommentsDivId').html( data );
		});		
		
		//$('#' + 'Referrer_CommentsDivId').load(url);
		
	  
	 	var id = getParam("referrerId");

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("referrerId");
			
			jQuery.ajax(
			{
		  		url: '/Referrer/load?referrerId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingReferrer()
	{
		document.getElementById("ReferrerFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetReferrer()
	{
		document.getElementById("ReferrerProfileFormId").reset();
	}
	
	function saveReferrer()
	{
		$('#ReferrerFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#ReferrerProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/Referrer/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#ReferrerProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' && parentUrl != '${parentUrl}' )
			{
				parentUrl = parentUrl + '&childId=' + data['referrerId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created Referrer
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('referrerId').value = data['referrerId'];

			if ( action == 'create' )
				$( '#ReferrerAssociationDivId' ).show();
*/				
			doneSavingReferrer();
		});
		
		$('#ReferrerFormLoadingDivId').hide();			
	
	}
		function addComments()
	{
		addHelperForReferrer( 'Comment', 'Comments' );
	}

	function deleteComments()
	{
		var ids;
		deleteHelperForReferrer( 'Comments', 'commentText', ids );
	}
	
	function addCommentsFromList()
	{
	}
	
        function addHelperForReferrer( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for Referrer " + roleName;
		var parentId = document.getElementById("referrerId").value;
		parentUrl = '/Referrer/save' + roleName + '?referrerId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=referrer&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForReferrer';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForReferrer( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/Referrer/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#ReferrerProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("ReferrerFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="ReferrerProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="ReferrerProfileFormId" class="formTableClass">
    <input type=hidden id="referrerId" name="referrerId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">firstName</td>
	  <td class="formTDClass">	<input type='text' id="firstName" name="firstName" placeHolder="firstName" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">lastName</td>
	  <td class="formTDClass">	<input type='text' id="lastName" name="lastName" placeHolder="lastName" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">emailAddress</td>
	  <td class="formTDClass">	<input type='text' id="emailAddress" name="emailAddress" placeHolder="emailAddress" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">active</td>
	  <td class="formTDClass">	<input type='checkbox' id='active' name='active' placeHolder='active' class="form-control" />
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save Referrer" onclick="saveReferrer()">
		    <button type="button" class="btn btn-outline-primary">
		      	Save
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetReferrer()">
			<button type="button" class="btn btn-outline-primary">	
		      	Reset
			</button>
		</a>
	</div>
	 <div id="ReferrerFormLoadingDivId" style="display:none">
  		saving Referrer...<image src="../img/load_new.gif" width=48 height=48/>
	</div>				  				  
	<div id="ReferrerFormStatusDivId">
	</div>				  				  
	 
  </form>
</div>

<div id="ReferrerAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
	</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
		  <tr class="formRowClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        Comments
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	                <div id="Referrer_CommentsDivId">
	                </div>
	      	      </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>

  </div>
</div>


