
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="/js/jquery-mask-as-number.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>

<script>
    $('.maskedWholeNumberField').maskAsNumber();
    $('.maskedDecimalField').maskAsNumber({decimals: 2});
</script>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({format: 'yyyy-mm-dd',autoclose: true,todayBtn: true});
</script>             

<script type="text/javascript">

	$( document ).ready(function()
	{
		var action = getParam("action");

	 	if ( action == 'edit' )
			$( '#ReferenceEngineAssociationDivId' ).show();

		var url, args, parentId, parentUrl, addUrl, deleteUrl, modelUrl;
 
	 	var id = getParam("referenceEngineId");
		
		$( "#multiSelectForMainQuestionGroup" ).on("change", function(e)  
		{
			//assign the selected value
			var input = document.getElementById("MainQuestionGroupInputId");				
			input.value = this.options[this.selectedIndex].text;
	
			if ( input.value != 'no selection' )
			{
				// save the MainQuestionGroup
				var parentId = document.getElementById( 'referenceEngineId' ).value;
		 		var childId = this.options[this.selectedIndex].value;
		 		var url 	= '/ReferenceEngine/saveMainQuestionGroup?referenceEngineId=' + parentId + "&childId=" + childId;
	
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'json',
				}).always(function( data ) 
				{
					doneSavingReferenceEngine();
				});
			}
			// hide the select
			$("#multiSelectForMainQuestionGroupDivId").hide();
		});
	
	 	$( document ).on('refreshMainQuestionGroupForReferenceEngine', function() 
	 	{			
	 		// reload ReferenceEngine and apply the MainQuestionGroup
	 		var url 	= '/ReferenceEngine/load?referenceEngineId=' + id;
	 		var element = document.getElementById( 'MainQuestionGroupInputId' );
	 		var field 	= 'mainQuestionGroup.name';
	 		
			jQuery.ajax(
			{
		  		url: url,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var val = '';
				var indexes = field.split( "." );
				
				if ( indexes.length == 1 )
					val = data[indexes[0]];
				else if ( indexes.length == 2 && data[indexes[0]] != null )
					val = data[indexes[0]][indexes[1]];

		 		element.value = val;
			});
	    });

		// if edit, populate form fields		
		if ( action == 'edit' )
		{
			var id = getParam("referenceEngineId");
			
			jQuery.ajax(
			{
		  		url: '/ReferenceEngine/load?referenceEngineId=' + id,
		  		dataType: 'json',
			}).always(function( data ) 
			{
				var allControls = document.querySelectorAll("input, select, textArea");

				for(var i=0; i < allControls.length; i++)
				{
					var element = allControls[i];
					var elementName = element.name;
					var val = '';
					
					var indexes = elementName.split( "." );
					if ( indexes.length == 1 )
						val = data[indexes[0]];
					else if ( indexes.length == 2 && data[indexes[0]] != null )
						val = data[indexes[0]][indexes[1]];

					if ( val !== undefined && element.type )
					{
						if ( element.type === 'checkbox' )
						{
							if ( val == true )
								element.checked = true;
							else
								element.checked = false;
						}
						else if ( element.type === 'select' )
						{
							// select the right option
						}
						element.value = val;
					}
				}
			});
		}
	});
	
	function doneSavingReferenceEngine()
	{
		document.getElementById("ReferenceEngineFormStatusDivId").innerHTML = '<span style="color:blue">done saving</span>';
	}
	
	function resetReferenceEngine()
	{
		document.getElementById("ReferenceEngineProfileFormId").reset();
	}
	
	function saveReferenceEngine()
	{
		$('#ReferenceEngineFormLoadingDivId').show();

		// need to force the val to be handled by the Boolean type
		$("#ReferenceEngineProfileFormId input:checkbox").each(function()
		{
    		if ( $(this).is(':checked') == false ) 
    			$(this).val( 'false' );    			
    		else
    			$(this).val('true');
  		});

		var url 		= '/ReferenceEngine/save';		
		var parentUrl 	= "${parentUrl}";
		var formData 	= formDataToJson( $('#ReferenceEngineProfileFormId'));
		var action 		= "${action}";

		console.log( 'parentUrl is ' + parentUrl );
					
		formData = JSON.stringify( formData );
				
		jQuery.ajax(
		{
	  		url: url,
	  		dataType: 'json',
	  		data : formData,
		}).always(function( data ) 
		{
			if ( parentUrl != 'null' && parentUrl != '' && parentUrl != '${parentUrl}' )
			{
				parentUrl = parentUrl + '&childId=' + data['referenceEngineId'];
				jQuery.ajax(
				{
			  		url: parentUrl,
			  		dataType: 'json',
				}).always(function( data ) 
				{
				});
			}

/* 
   force a close on create rather than show the children since there are none,\
   causing an inspection on a freshly created ReferenceEngine
   
			// need to assign the related hidden primary key element value to 
			// the new value created during the save
			document.getElementById('referenceEngineId').value = data['referenceEngineId'];

			if ( action == 'create' )
				$( '#ReferenceEngineAssociationDivId' ).show();
*/				
			doneSavingReferenceEngine();
		});
		
		$('#ReferenceEngineFormLoadingDivId').hide();			
	
	}
		function addMainQuestionGroup()
	{
		addHelperForReferenceEngine( 'QuestionGroup', 'MainQuestionGroup' );
	}
	
	function deleteMainQuestionGroup()
	{ 
		deleteHelperForReferenceEngine( 'MainQuestionGroup', 'name' );
	}

	function addMainQuestionGroupFromList()
	{
		// display the multi-select (viewAll and MainQuestionGroup lists)
		$("#multiSelectForMainQuestionGroupDivId").show();

		jQuery.ajax(
		{
		    url: "/QuestionGroup/viewAll",
		    dataType: 'json',
		}).always(function( data ) 
		{
			$("#multiSelectForMainQuestionGroup").empty();
			
			var selectId	= "multiSelectForMainQuestionGroup";
			var text 		= 'name';
			var value 		= 'questionGroupId';
			var includeBlank = true;
			
			loadOptionsWithJSONData( selectId, data, value, text, includeBlank  );
		});
	}
		
        function addHelperForReferenceEngine( associationClassType, roleName )
	{    
		var title = "Add New " + associationClassType + " for ReferenceEngine " + roleName;
		var parentId = document.getElementById("referenceEngineId").value;
		parentUrl = '/ReferenceEngine/save' + roleName + '?referenceEngineId=' + parentId;
		var url = '/html/' + associationClassType + 'ProfileForm.html?action=create&parentUrl=' + parentUrl + '&parentName=referenceEngine&roleName=' + roleName;
		var eventToFire = 'refresh' + roleName + 'ForReferenceEngine';
		inspectionDialog( title, url, eventToFire );
    }

	function deleteHelperForReferenceEngine( nameOfRole, keyFieldName, ids )
	{
    	BootstrapDialog.confirm
    	({
        	title: 'WARNING',
        	message: 'Are you sure?',
            type: BootstrapDialog.TYPE_WARNING, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            btnCancelLabel: 'No', // <-- Default value is 'Cancel',
            btnOKLabel: 'Yes', // <-- Default value is 'OK',
            btnOKClass: 'btn-warning', // <-- If you didn't specify it, dialog type will be used,
            callback: function(result) 
            {
				var elementName = nameOfRole.toLowerCase() + "." + keyFieldName;
				var element 	= document.getElementsByName(elementName)[0];
				var url 		= '/ReferenceEngine/delete' + nameOfRole;
				
				url = url + '?childIds=' + ids;
				
				jQuery.ajax(
				{
			  		url: url,
			  		dataType: 'text',
			  		data : $('#ReferenceEngineProfileFormId').serialize(),
				}).always(function( data ) 
				{
					document.getElementById("ReferenceEngineFormStatusDivId").innerHTML = '<span style="color:blue">done deleting</span>';
					element.value = ""; // clear it
				});
			}
    	});
	
	}
</script>

<div id="ReferenceEngineProfileFormDiv" style="padding:4px;border:2px solid lightgray">
  <form id="ReferenceEngineProfileFormId" class="formTableClass">
    <input type=hidden id="referenceEngineId" name="referenceEngineId" />  		  	
<!-- Direct Attributes -->          	
<table class="formTableClass">
	<tr class="formTRClass">
	  <td class="formTDClass">name</td>
	  <td class="formTDClass">	<input type='text' id="name" name="name" placeHolder="name" required="required" validate="required" class="form-control" />	
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">active</td>
	  <td class="formTDClass">	<input type='checkbox' id='active' name='active' placeHolder='active' class="form-control" />
	</td>
	</tr>
	<tr class="formTRClass">
	  <td class="formTDClass">Purpose</td>
	  <td class="formTDClass">	<select id='purpose' name='purpose' class="form-control">
        	<option value='character'>character</option>
        	<option value='business'>business</option>
        	<option value='employment'>employment</option>
        	<option value='residency'>residency</option>
    </select>	
	</td>
	</tr>
</table>

<!-- Composites -->          	
    <table class="formTableClass">
    </table>
  	<br>
	<div>
		<a href="#" data-toggle="tooltip" data-placement="below" title="save ReferenceEngine" onclick="saveReferenceEngine()">
		    <button type="button" class="btn btn-outline-primary">
		      	Save
			</button>
		</a>
		<a href="#" data-toggle="tooltip" data-placement="below" title="reset" onclick="resetReferenceEngine()">
			<button type="button" class="btn btn-outline-primary">	
		      	Reset
			</button>
		</a>
	</div>
	 <div id="ReferenceEngineFormLoadingDivId" style="display:none">
  		saving ReferenceEngine...<image src="../img/load_new.gif" width=48 height=48/>
	</div>				  				  
	<div id="ReferenceEngineFormStatusDivId">
	</div>				  				  
	 
  </form>
</div>

<div id="ReferenceEngineAssociationDivId" style="display:none">
  <div class="singleAssociationClass">
    <table class="associationTableClass">
		  <tr class="formTRClass">
	    <td class="formTDClass">
		  <div class="sectionClass">
		    <div class="sectionHeaderClass">
		      <span class="sectionTitleClass">
		        MainQuestionGroup
		      </span>
		    </div>
		    <div class="sectionBodyClass">	  
	          <table class="formTableClass">
	            <tr class="formTRClass">
	              <td class="formTDClass">
	      		    <input type='text' id="MainQuestionGroupInputId" name="mainQuestionGroup.name" class="form-control" disabled/>
	      	      </td>
	              <td  class="formTDClass" style="vertical-align:center">
	                <div id="multiSelectForMainQuestionGroupDivId" style="display:none">
	                  <select id="multiSelectForMainQuestionGroup" />
	                  <a href="#" onclick="$('#multiSelectForMainQuestionGroupDivId').hide();">
				        <button type="button" class="btn btn-default btn-sm">
				          <span class="glyphicon glyphicon-remove"/>
				 	    </button>
				      </a>
	                </div>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="create QuestionGroup" onclick="addMainQuestionGroup()">
  				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-plus"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="add QuestionGroup from list" onclick="addMainQuestionGroupFromList()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-th-list"/>
					  </button>
				    </a>
				    <a href="#" data-toggle="tooltip" data-placement="below" title="delete QuestionGroup" onclick="deleteMainQuestionGroup()">
				      <button type="button" class="btn btn-default btn-sm">
				        <span class="glyphicon glyphicon-trash"/>
				 	  </button>
				    </a>
	              </td>
	            </tr>
		      </table>
		    </div>
		  </div>
	    </td>
	  </tr>
		</table>
  </div>

  <div "class=multipleAssociationClass">  
	<table class="associationTableClass">  
	</table>

  </div>
</div>


